<!-- <style>
        .custom-container {
            width: 400px;
            padding: 20px;
            align-items: center;

        }

        .custom-login-form {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .custom-login-form h2 {
            text-align: center;
            padding-bottom: 50px;
            font-size: 20px;
            font-weight: 800;
        }

        .custom-input-group {
            margin-bottom: 15px;
        }

        .custom-input-group label {
            display: block;
            margin-bottom: 5px;
        }

        .custom-input-group input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .custom-btn-login {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            display: block;
            margin-top: 15px;
        }

        .custom-btn-login:hover {
            background-color: #0aa078;
        }

        .image-container {
            
        }

        .image {
            position: relative;
            top: 15px;
            /* Различные значения для расположения изображений */
            left: 15px;
            z-index: 1;
            /* Устанавливаем слои для изображений */
            width: 200px;
            height: 300px;
        }

        .image:nth-child(2) {
            top: 70px;
            /* Другие значения для расположения других изображений */
            left: -30px;
            z-index: 2;
        }

        .image:nth-child(3) {
            top: 160px;
            /* И так далее */
            left: -60px;
            z-index: 3;
        }

        .content-auth{
            display: flex;
            align-items: center;
            justify-content: space-around;
           
            
        }
    </style> -->

{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="content-auth">
        <div class="custom-container">
            <form class="custom-login-form" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <h2>Добро пожаловать в <br><span>Infinite Innovations</span></h2>
                <div class="custom-input-group">
                    <label for="username">Логин:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="custom-input-group">
                    <label for="email">Почта:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="custom-input-group">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="custom-btn-login">Зарегистрироваться</button>
            </form>
        </div>

        <div class="image-container">
            <img src="{% static 'media_/slide1.jpg' %}" alt="Image 1" class="image">
            <img src="{% static 'media_/slide2.jpg' %}" alt="Image 2" class="image">
            <img src="{% static 'media_/slide3.jpg' %}" alt="Image 3" class="image">
        </div>
    </div>

</div>

{% endblock %}